.idea
__pycache__
vids/
pictures/k0_cut/
pictures/k0.png
pictures/k0_old.png
/pictures/k0_1.png
/pictures/k0_2.png
/pictures/waves/ttt.png
/pictures/waves/R/
/O0s_info/stns_ZX.npy
/O0s_info/stns_TZX.npy
/O0s_info/TH.npy
